<html layout:decorate="~{sidebar}" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">


<div layout:fragment="content-header">
    <div class="row mb">
        <div class="col-sm">
            <h1>Formulir3</h1>
        </div>
        <div class="col-sm">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Formulir3</li>
            </ol>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<div layout:fragment="content-body">
    <form role="form" id="myForm">
        <div class="card-body">
            <div class="row">
                <!-- left column -->
                <div class="col-md">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <di v class="card-header">
                            <h3 class="card-title">Data Peserta</h3>
                        </di>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <input class="form-control parsley-error" id="idnik" placeholder="cari dari nik" required="" type="text" >
                                </div>
                                <div class="col-md-3">
                                    <button type="button" id="cari" class="btn btn-success">Cari</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-body">
                            <div class="card-body">
                                <table class="table table-striped table-bordered table-hover nowrap" id="tableBiodata3"
                                style="width:100%"></table>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </div>
            </div>
        </div> 
    </div>
    

</html>