<!DOCTYPE html>
<html layout:decorate="~{sidebar}" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">


<div layout:fragment="content-header">

    <div class="row mb">
        <div class="col-sm">
            <h1>Formulir Biodata</h1>
        </div>
        <div class="col-sm">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Formulir Biodata</li>
            </ol>
        </div>
    </div>

</div>

<div layout:fragment="content-body">

    <div class="row">
        <!-- left column -->
        <div class="col-md ">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Data Peserta</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <!-- <div class="card-body">
                    <form role="form" id="myForm">
                        
                            <div class="form-group">
                                <label>NIK</label>
                                <input class="form-control parsley-error" id="nik" name="nik" placeholder="masukan NIK" required="" type="text" >
                            </div>
                            <div class="form-group">
                                <label>Nama Lengkap </label>
                                <input class="form-control parsley-error" id="nama" name="nama" placeholder="masukan nama" required="" type="text" >
                            </div>
                            <div class="form-group">
                                <label for="alamat">Alamat</label>
                                <textarea class="form-control parsley-error" id="alamat" name="alamat" placeholder="masukan alamat" required="" type="text" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label>No HP</label>
                                <input class="form-control parsley-error" id="noHp" name="noHp" placeholder="masukan noHP" required="" type="text" >
                            </div>
                            <div class="form-group">
                                <label for="tanggal">Tanggal Lahir</label>
                                <input type="date" class="form-control parsley-error" id ="tanggalLahir" name="tanggalLahir" required="">
                            </div>
                            <div class="form-group">
                                <label>Tempat Lahir</label>
                                <input class="form-control parsley-error" id="tempatLahir" name="tempatLahir" placeholder="masukan Tempat Lahir" required="" type="text" >
                            </div>
                        
                                           
                    </form>
                </div> -->
                <div class="modal-footer justify-content-between">
                    <button type="submit" id="submit" class="float-right btn btn-success">
                        Tambahkan Data
                      </button>
                </div>
                <!-- tabelbiodata -->
                <div class="card-body table-responsive">
                    <table class="table table-striped table-bordered table-hover nowrap" id="tableBiodata"
                    style="width:100%"></table>
                </div>
                <!-- form edit -->
                <div class="modal fade" id="modal-biodata">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Form Biodata</h4>
                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="card-header">
            
                                </div>
                                <form id="form-biodata" role="form">
                                    <input name="idPerson" id="idPerson" type="hidden"/>
                                    <input name="idBio" id="idBio" type="hidden"/>
            
                                    <div class="form-group">
                                        <label>NIK</label>
                                        <input class="form-control parsley-error" id="nik" name="nik" placeholder="masukan NIK" required="" type="text" >
                                    </div>
                                    <div class="form-group">
                                        <label>Nama Lengkap </label>
                                        <input class="form-control parsley-error" id="nama" name="nama" placeholder="masukan nama" required="" type="text" >
                                    </div>
                                    <div class="form-group">
                                        <label for="alamat">Alamat</label>
                                        <textarea class="form-control parsley-error" id="alamat" name="alamat" placeholder="masukan alamat" required="" type="text" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>No HP</label>
                                        <input class="form-control parsley-error" id="noHp" name="noHp" placeholder="masukan noHP" required="" type="text" >
                                    </div>
                                    <div class="form-group">
                                        <label for="tanggal">Tanggal Lahir</label>
                                        <input type="date" class="form-control parsley-error" id ="tanggalLahir" name="tanggalLahir" required="">
                                    </div>
                                    <div class="form-group">
                                        <label>Tempat Lahir</label>
                                        <input class="form-control parsley-error" id="tempatLahir" name="tempatLahir" placeholder="masukan Tempat Lahir" required="" type="text" >
                                    </div>
            
                                </form>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                                <button class="btn btn-primary" id="btn-save-biodata" type="button">Save</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
    <!-- /.content -->
</div>

</html>