<html layout:decorate="~{sidebar2}" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
        
    <div layout:fragment="content-body">
        <link href="/Content/PagedList?v=iFZ5XyspKp_PTK7xqDvbYbxTZM9MkMu6GrAaqwWoZrg1" rel="stylesheet"/>        
        <br />
        <!-- start:breadcrumb -->
        <!-- end:breadcrumb -->
        <div class="row" id="publik-konten">
            <div class="col-lg-12">
                <div class="panel">
                    <div class="panel-body">
                        <!-- start:state overview -->
                        <h2>Pengumuman</h2>
                        <hr />
                        <div class="row">
                            <!-- Row Starts -->
                            <div class="col-md-12">
                                <ul class="list-pengumuman">
                                        <li>
                                            <div class="isi">
                                                <div class="p-t-10 p-l-30 p-r-20 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5">
                                                    <div class="icon-pengumuman">
                                                        <i class="fa fa-info" style="margin-top: 10px;">
                                                        </i>
                                                    </div>
                                                    <h4 class="inline judul-pengumuman">
                                                        <span class="semi-bold">
                                                            Pengumuman untuk Warga Negara yang belum Terdaftar
                                                        </span>
                                                    </h4>
                                                    
                                                    <p class="inline isi-pengumuman">
                                                    <b>Dimohon untuk segera mendaftar: Sistem akan dibuka pada tanggal 29 Agustus 2020 mulai pukul 16.00 WIB.</b>
                                                    </p>
                                                    <div class="clearfix">
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                </ul>
                            </div>
                            <!-- Row Ends -->
                            <!-- Row Ends -->
                        </div>
                    </div>
                </div>
            </div>
        
        </div>   

    </div>
</html>
    