<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/images/logo-ipb.png" />    
        <title>Beranda | Pendataan Warga Indonesia</title>
        <link href="https://simak.ipb.ac.id/Content/cssPublik?v=u-E_f5HIxep0kAeNSZkS7O1EJa2I4apOBKiOUaGO6bw1" rel="stylesheet"/>
    
        <script src="https://simak.ipb.ac.id/bundles/modernizr?v=wBEWDufH_8Md-Pbioxomt90vm6tJN2Pyy9u9zHtWsPo1"></script>
    
        <script src="https://simak.ipb.ac.id/bundles/jquery?v=M6dmVkrHVhoZ1gfOtvVDZbgBcQTsbWxoLsRizcGkbPk1"></script>
    
        <script src="https://simak.ipb.ac.id/bundles/bootstrap?v=yIqGvnR5Rb9qoTKRhaja95IDza6WO9Qg7c5slf4R_fQ1"></script>
    
        <link href="https://simak.ipb.ac.id/Content/fonts?v=BOWbTdCi_LcB_JlVty0IXJrHxAzlVz8a-V-FrZEINfk1" rel="stylesheet"/>  
    </head>
    
    <body >
        <div class="top-content">
            <div class="inner-bg">            
                <div class="header-top" id="header-top">
                    <!-- start:navbar -->
                    <nav class="navbar navbar-inverse" role="navigation" style="margin-bottom: 0">
                
                        <div class="container">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="home">
                                    <img src="../../dist/img/garuda.png" height="25" width="25">
                                    <strong style="margin-left:3px;">
                                        Sistem Pendataan
                                    </strong>
                                </a>
                            </div>
                            <!-- start:navbar-header -->
                            <div class="navbar-header">
                                <button type="button" class="btn-block btn-drop navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                    <strong>
                                        <i class="fa fa-bars"></i> MENU
                                    </strong>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse navbar-ex1-collapse">
                                <ul class="nav navbar-nav navbar-right top-menu" role="navigation">
                                        <li class="active">
                                            <a href="home">
                                                <div class="text-center">
                                                     Beranda
                                                </div>
                                            </a>
                                        </li>
                                        
                                        <li class="">
                                            <a href="home">
                                                <div class="text-center">
                                                     Tentang
                                                </div>
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="login">
                                                <div class="text-center">
                                                     Login
                                  	              </div>
                                            </a>
                                        </li>
                                    <!-- user login dropdown start-->
                
                                </ul>
                            </div>
                
                        </div>
                        
                    </nav>
                    <!-- end:navbar -->
                </div>
    
                <div id="header">
                    <div class="jumbotron">
                        <nav class="navbar">
                            <div class="container">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="text-center">
                                    <h2 class="judulheader">Sistem Pendataan Warga Negara Indonesia</h2>
                                    <h5 class="judulsubheader">Silahkan Login untuk masuk ke dalam sistem.</h5>
                                </div><!-- /.navbar-collapse -->
                            </div>
                        </nav>
                    </div>
                </div>
                <!--main-->
                <!--left-->
                <div class="container" data-spy="scroll">
                    <div id="main">      
                        <div layout:fragment="content-body" /> 
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="footer-bottom-widget">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>
                                        &copy; IND 2015 <strong></strong>
                                    </p>
                                </div>
                                <div class="pull-right hidden-xs">
                                    <b><a href="http://ict.ipb.ac.id">Indonesia</a></b> | <b>Versi</b> 20200908.1
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-82926105-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
    
            gtag('config', 'UA-82926105-3');
        </script>
    
    </body>
</html>
    